@inherits LayoutComponentBase
@inject NavigationManager NavManager
@using BookListing.Client.Services;
@inject IJSRuntime JSRuntime;


@inject AuthenticationService _authService
<NavMenu />


<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"> </a></li>
                </ol>
                <h6 class="font-weight-bolder mb-0">@NavManager.Uri.Replace(NavManager.BaseUri, string.Empty).ToUpper()</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a @onclick="Logout" href="#" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                            <span class="d-sm-inline d-none">Sign Out</span>
                        </a>
                    </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a @onclick="Logout" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        @Body


        <footer class="footer pt-3  ">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            © 2023 made by Bernie Ngojo
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>
</main>
@code {

    //TODO: Workaround for navigation

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
        if (string.IsNullOrWhiteSpace(token))
        {
            NavManager.NavigateTo("/login");
        }
    }


    private async Task Logout()
    {
        //Remove Token
        await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "authToken");
        NavManager.NavigateTo("/login");
    }
}